* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #000;
    --color-secondary: white;
    --color-three: #f8f8f8;
    --color-for: rgb(175, 174, 174);
    --color-primary-hover: rgb(76, 132, 245);
    --color-fine: rgb(240, 117, 46);
}
body {
    font-family: OpenSans,sans-serif;
}
.title-dialog {
    background-color: #84bdbe;
    height: 40px;
    line-height: 40px;
    position: relative;
    p {
        color: white;
    }
    i {
        position: absolute;
        right: 0;
        margin-right: 114px;
        top: 32%;
        color: white;
    }
}
// Phần headerShop
.wrap-Header {
    padding: 0px;
    min-height: 465px;
    width: 100%;
    background-image: url(../img/banner.webp);
    background-size: cover; // để nó cân cái anh
    background-position: center center; // để nó cân cái anh
    background-repeat: no-repeat;
    transition: 2s;
    position: relative;

    .shop-h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 50%;
        h1 {
            color: white;
            font-size: 75px;
            font-family: OpenSans,sans-serif;
        }
        .shop-span {
            div {
                width: 6px;
                height: 6px;
                border-top: 2px solid;
                border-right: 2px solid;
                border-color: white;
                transform: rotate(45deg);
                margin: 0 11px;
            }
            span {
                color: white;
                font-size: 20px;
                font-family: OpenSans,sans-serif;
            }
        }
    }
}
.container-fluid {
    border-bottom: 1px solid white;
}
.banner-x-header {
    height: 120px;
    display: flex;
}

.wrap_Form-Seach {
    width: 100%;
    position: relative;
}

.wrap_Form-Seach .input {
    width: 300px;
    height: 46px;
    z-index: 0;
    padding-left: 35px;
    border-radius: 30px;
    border: none;
}

.wrap_Form-Seach .input:focus {
    outline: none;
}

.wrap_Form-Seach .img-Search {
    width: 20px;
    background-position: center;
    background-size: cover;
    z-index: 1;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
}
.wrap-nav {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    .li-icon {
        list-style: none;
        display: inline-block;
    }
    .item-li {
        display: flex;
        list-style: none;
        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            padding-left: 0;
            padding-right: 0;
            font-family: OpenSans,sans-serif;
            margin: 0 0.8rem;
            position: relative;
            letter-spacing: 2px;
            &::before{
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scale(0);
                border-bottom: 2px solid #fff;
                transition: 0.5s;
            }
            &:hover::before{
                transform: scale(1);
            }
        }
    }
}
.header-right {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .dropdown-toggle {
        background-color: transparent;
        box-shadow: none;
        outline: none;
        white-space: nowrap;
        border-radius: 20px;
        border: 2px solid white;
        &:hover {
            background: none;
            background-color: transparent;
            color: #fff;
            border-color: #fff;
        }
    }
    .dropdownUser {
        margin-right: 15px;
        margin-left: 15px;
        .btn-use {
            border: none;
            background: none;
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
    }
}
.boder_bottom {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
}
.dropdown-toggle {
    white-space: nowrap;
    box-shadow: none;
    background-color: transparent;
    border-radius: 30px;
    /* outline: none; */
    border-color: white;
}
//modal-user
.modal-body {
    color: #b1b1b1;
    //margin: 50px 200px 100px;
    .login-icon {
        color: #000;
        font-size: 30px;
        text-align: center;
    }
    .login-p {
        text-align: center;
        width: 50%;
        margin: 0 auto;
        font-size: 15px;
        color: #868686;
    }
    .login-form {
        display: flex;
        justify-content: center;
        input {
            padding-left: 13px;
            width: 50%;
            height: 56px;
            margin-bottom: 40px;
            outline: none;
        }
    }
    .login-form1 {
        display: flex;
        justify-content: center;
        input {
            padding-left: 13px;
            width: 50%;
            height: 56px;
            margin-bottom: 40px;
            outline: none;
        }
    }
    .remember-pass {
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: 0 auto;
        &:hover {
            color: var(--color-primary);
        }
        .remember {
            display: flex;
            .remember-span {
                width: 12px;
                height: 12px;
                background-color: #b1b1b1;
                border: none;
                border-radius: 50%;
                margin-top: 5px;
                &:hover {
                    background-color: var(--color-primary);
                }
            }
        }
    }
    .login {
        background-color: black;
        color: white;
        text-align: center;
        height: 45px;
        line-height: 45px;
        width: 50%;
        margin: 0 auto;
    }
    .spec {
        margin-top: 40px;
        font-size: 11px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #000;
        text-align: center;
        overflow: hidden;
        width: 50%;
        margin: 0 auto;
        span {
            position: relative;
            padding: 0 10px;
            &::before {
                content: "";
                border-top: 1px solid #e4e4e4;
                position: absolute;
                top: 5px;
                right: 100%;
                width: 9999em;
            }
            &::after {
                content: "";
                border-top: 1px solid #e4e4e4;
                position: absolute;
                top: 5px;
                left: 100%;
                width: 9999em;
            }
        }
    }
}
.side-menu {
    width: 300px;
    height: 45px;
    border: 1px solid #b1b1b1;
    padding: 0 20px;
    a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 17px;
        font-weight: 600;
    }
    .side-menu-arrow {
        height: 6px;
        width: 6px;
        border-top: 2px solid #b1b1b1;
        border-right: 2px solid #b1b1b1;
        transform: rotate(45deg);
    }
}
.side-menu-title {
    background: #b1b1b1;
    text-align: center;
    line-height: 45px;
    color: white;
    font-size: 2rem;
    font-family: OpenSans,sans-serif;
    font-weight: 800;
}
.side-menu-close {
    background: black;
    color: white;
    line-height: 45px;
}
.nav-mb {
    span {
        vertical-align: middle;
        border-bottom: 2px solid white;
        display: inline-block;
        height: 2px;
        width: 30px;
        transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        margin-bottom: 3px;
        margin-top: 3px;
        transition: 0.5s;
    }
}
.search-mb {
    color: aliceblue;
    font-size: 20px;
    margin: -4px;
    margin-right: 86px;
    padding-left: 16px;
}
@media screen and (min-width: 1800px) {
    .banner-y {
        display: none;
    }
    .banner-x {
        display: block;
    }
    .sidebar-on_off {
        display: none;
    }
}
@media screen and (max-width: 1800px) {
    .banner-y {
        display: none;
    }
    .banner-x {
        display: block;
    }
    .sidebar-on_off {
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .banner-y {
        display: none;
    }
    .title-dialog {
        display: none;
    }
    .banner-x {
        display: block;
        .wrap_Form-Seach .input {
            width: 200px;
            height: 46px;
            z-index: 0;
            padding-left: 35px;
            border-radius: 30px;
            border: none;
        }
    }
    .sidebar-on_off {
        display: none;
    }
    .img-payment {
        img {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
@media screen and (max-width: 990px) {
    .wrap-Header {
        min-height: 350px;
    }
    .sidebar {
        display: none;
    }
    .banner-y {
        display: block;
    }
    .banner-x {
        display: none;
    }
    .title-dialog {
        display: none;
    }
    .sidebar-on_off {
        display: block;
    }
    .options {
        display: none;
    }
    .img-payment {
        img {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .circle {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .fillter-h4 {
        margin-left: -10%;
    }
}

/////////////////////// nav-menu
.nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba($color: #000000, $alpha: 0.6);
    padding: 0;
}
//////////////////////////////////////////////////////////////////////Phần main shop
main {
    margin-top: 30px;
}
.content {
    transition: 1s;
}
.sidebar {
    transition: 2s;
    .menu-creatory {
        background-color: #000000;
        .menu-creatory_p {
            font-weight: 600;
            color: white;
            font-size: 19px;
        }
        .menu-creatory_all {
            //cái thanh menu nhỏ creatory
            margin-right: 12px;
            .menu-creatory_one {
                margin: 0;
                padding: 0;
                width: 20px;
                height: 2px;
                background-color: #b1b1b1;
            }
            .menu-creatory_tow {
                margin: 0;
                padding: 0;
                width: 13px;
                height: 2px;
                background-color: #b1b1b1;
                margin: 3px 0;
            }
            .menu-creatory_three {
                margin: 0;
                padding: 0;
                width: 16px;
                height: 2px;
                background-color: #b1b1b1;
            }
        }
    }
    .title {
        background-color: #f0f0f0;
        margin-top: 24%;
        display: flex;
        font-weight: 800;
    }
}

.list_Group-item {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 50px;
    align-items: center;
    border: 1px solid #b1b1b1;
    .HebeStaffPick_div {
        height: 6px;
        width: 6px;
        border-top: 1px solid #b1b1b1;
        border-right: 1px solid #b1b1b1;
        transform: rotate(45deg);
    }
}
.list_Group-item-action {
    label {
        font-size: 16px;
        font-weight: 700;
    }
    label:hover {
        cursor: pointer;
        .HebeStaffPick_div {
            border-color: #e5b72d;
        }
        color: #e5b72d;
    }
}

/////////////////////////////////////////////////////////////////phần color +price + size + pice
.sidebar .title {
    background-color: #f0f0f0;
    margin-top: 11%;
    display: flex;
    font-weight: 800;
}
.title-color {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: auto;
    align-items: center;
    border: 1px solid #b1b1b2;
    /////////////////////////////////////////color
    .title-color_label {
        margin-top: 14px;
        margin-left: 9px;
        margin-bottom: 4px;
        position: relative;
        width: 37px;
        height: 37px;
        border: 1px solid #e5e5e5;
        border-radius: 50%;
        cursor: pointer;
        .item-color {
            &:hover::after {
                border-color: black;
            }
            &::before {
                content: "";
                position: absolute;
                width: 12px;
                height: 5px;
                border: 2px solid #fff; // màu bên trong laybel
                border-width: 0 0 2px 2px;
                //border: 2px solid #fff
                left: 18px;
                top: 18px;
                transition: 1s;
                opacity: 0;
                transform: translate(-45%, -90%) rotate(315deg); //xoa chiều cho thành chữ V
            }
            &::after {
                content: "";
                position: absolute;
                width: 45px;
                height: 45px;
                border: 1px solid #fff; // màu bao bên ngoài của laybel
                border-radius: 50%;
                right: -5px;
                bottom: -5px;
                transition: 1s;
            }
        }
        input {
            display: none;
            &:checked + .item-color::before {
                opacity: 1;
            }
            &:checked + .item-color:after {
                border-color: #0000005c;
            }
        }
        &:first-child {
            background: #311102;
        }
        &:nth-child(2) {
            background: #9f755e;
        }
        &:nth-child(3) {
            background: #b1c350;
        }
        &:nth-child(4) {
            background: #333d4f;
        }
        &:nth-child(5) {
            background: #8b7095;
        }
        &:nth-child(6) {
            background: #ededed;
        }
        &:nth-child(7) {
            background: #2a2a2a;
        }
        &:nth-child(8) {
            background: #ec60e1;
        }
    }
    ////////////////////////////////////////size
    .title-size_label {
        margin: 10px 10px 10px -1px;
        position: relative;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        cursor: pointer;

        .item-size {
            width: 43px;
            height: 43px;
            border-radius: 50%;
            border: 1.5px solid #868686;
            top: -12px;
            left: -11px;
            margin: auto;
            font-size: 13px;
            color: #868686;
            flex-wrap: wrap;
            p {
                margin-top: 8px;
                text-align: center;
                font-weight: 700;
            }
        }
        input {
            display: none;
            &:checked + .item-size {
                border-color: #000;
                color: #000;
            }
        }
    }
    ///////////////////////////////////////////////////////////////Price
    .title-price_label {
        p {
            color: #868686;
            font-weight: 400;
            &:hover {
                color: #e5b72d;
            }
        }
    }
}
///////////////////////////////////////////////////////////////ảnh
.theMen {
    position: relative;
    width: 100%;
    height: 445px;
    margin-top: 75px;
    background-image: url(../img/theMen.jpg);
    background-size: cover; // để nó cân cái anh
    background-position: center center; // để nó cân cái anh
    background-repeat: no-repeat;
    .caption_theMen {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        // background-color: white;
    }
    .title-theMen {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-family: OpenSans,sans-serif;
            font-size: 20px;
        }
        h2 {
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-family: OpenSans,sans-serif;
            font-size: 28px;
            font-weight: 600;
        }
        a {
            display: flex;
            justify-content: center;
            width: 100%;
            align-items: center;
            height: 40px;
            background-color: black;
            color: white;
            text-transform: uppercase;
            font-family: OpenSans,sans-serif;
            font-size: 20px;
            text-decoration: none;
        }
    }
}
.caption_theMen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #dad9d9;
    border-bottom: 1px solid #dad9d9;
    // border-left:1px solid #dad9d9;
    // border-right:1px solid #dad9d9;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scale(0, 1);
}
.theMen:hover .caption_theMen::before {
    transform: scale(1, 1);
}

.caption_theMen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #dad9d9;
    border-right: 1px solid #dad9d9;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scale(1, 0);
}
.theMen:hover .caption_theMen::after {
    transform: scale(1, 1);
}

///////////////////////////////////////////////////////////Proucts (sản phẩm)
.fillter-option {
    .fillter {
        .fillter-icon {
            border-radius: 50%;
            width: 45px;
            height: 45px;
            background-color: #e5b72d;
            position: relative;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .fillter-h4 {
            text-align: center;
            width: 120px;
            height: 40px;
            line-height: 40px;
            border-radius: 30px;
            margin-left: -7%;
            font-size: 19px;
            background-color: #b1b1b1;
            font-weight: 600;
            font-family: OpenSans,sans-serif;
        }
        .fillter-h5 {
            div {
                background-color: #e5b72d;
                width: 120px;
                height: 30px;
                color: white;
                border-radius: 30px;
                text-align: center;
                line-height: 30px;
                margin: 0 10px;
            }
        }
    }
    .option-all {
        // margin-right: -18px;
        .ot {
            padding-right: 20px;
        }
        select {
            width: 200px;
            height: 40px;
            border: 0.5px solid #b1b1b1;
            color: #b1b1b1;
            &:focus-visible {
                outline: none;
            }
        }
    }
}

.product-wrap {
    margin-top: 10%;
    position: relative;
    overflow: hidden;

    &:hover .product-item {
        animation: product-item 0.5s forwards; //forwards khi nó chạy đến đích sẽ đứng yên
    }
    &:hover img {
        //ảnh này muốn thu phóng thì phải hover ở phần div trên nó
        opacity: 0.7; //màu nhạt so với màu backgroud
        transform: scale(1.1); //chỉnh ảnh phóng to
    }
    .product-wrap_Img {
        width: 100%;
        height: auto;
        background: #dad9d9;
        opacity: 1;
        display: block;
        transition: 0.6s ease;
    }
    .product-item {
        transition: 1s; //độ nhạy
        //background-color: #e5b72d;
        position: absolute;
        width: 45px;
        height: auto;
        opacity: 0;
        top: 55%; // chiều cao bắt buộc phải có vì nó định dạng theo thẻ cha, nếu k nó sẽ không hiện
        .p-control-item i {
            transform: scale(0.9);
            margin-bottom: 10px;
            font-size: 20px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: white;
            padding: 12px;
            text-align: center; //căn giữa
            font-size: 20px;
            cursor: pointer;
            .p-item_Seach {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}

@keyframes product-item {
    from {
        left: 0px;
        opacity: 0;
    }
    to {
        left: 20px;
        opacity: 1;
    }
}
.p-title {
    .p-title-h5 {
        color: #868686;
        font-size: 15px;
    }
    .p-title-p {
        font-weight: 900;
        font-size: 13px;
    }
}
//////////////////////////////////////////////////////////////page-nav-wrap
.page-nav-wrap {
    display: flex;
    margin-left: 40px;
    .page-nav {
        font-weight: 600;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border: 1px solid;
        text-align: center;
        line-height: 40px;
        color: #4444;
        &:hover {
            color: #000;
            border-color: #000;
        }
        .page-next {
            height: 6px;
            width: 6px;
            margin: 16px;
            border-top: 1px solid black;
            border-right: 1px solid black;
            transform: rotate(45deg);
        }
    }
}
///////////////////////////////////////////////////////////////////fotter
.footer-fluid {
    margin-top: 40px;
    padding: 70px 0;
    background-color: black;
    border-bottom: 1px solid #b1b1b1;
    .footer-container {
        color: #b1b1b1;
        // padding: 0;
        //margin: 0;
        .footer-row {
            margin-left: -4px;
            .footer-Infomation {
                .infomation-head {
                    .Infomation_Compani {
                        .p-info {
                            margin-bottom: 30px;
                            font-weight: 700;
                        }
                    }
                }
            }
            .footer-logo {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                border-left: 1px solid #b1b1b1;
                border-right: 1px solid #b1b1b1;
                .logo-bewwen {
                    .p-1 {
                        font-family: OpenSans,sans-serif;
                        font-size: 3rem;
                        font-weight: 700;
                        margin: 0;
                    }
                    .p-2 {
                        letter-spacing: 6px;
                    }
                }
            }

            .footer-submit {
                display: flex;
                .btn-input {
                    margin-top: 28px;
                    // justify-content: center;
                    .input-submit {
                        border: none;
                        height: 55px;
                        width: 100%;
                        border: 1px solid #b1b1b1;
                        outline: none;
                        padding: 10px;
                        background-color: transparent;
                    }
                    .btn-submit {
                        height: 55px;
                        width: 150px;
                        margin-left: -2px;
                        border: none;
                        color: black;
                        font-weight: 700;
                        background-color: #f9e506;
                        transition: ease-out 0.25s;
                        outline: none;
                        &:hover {
                            box-shadow: inset 150px 0 0 0 red;
                            cursor: pointer;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
////////////////////////////////////////////foodter-end
.footer-end {
    padding: 13px;
    background-color: black;
    .container-footer-end {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .circle-icon {
            a {
                position: relative;
                color: #868686;
                margin-right: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45px;
                height: 45px;
                border: 1px solid #868686;
                border-radius: 50%;
                transition: 0.5s;
                text-decoration: none;
                &:hover {
                    color: #fff;
                    border-color: salmon;
                    &::before {
                        transform: scale(1.1);
                    }
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: salmon;
                    border-radius: 50%;
                    transform: scale(0);
                    transition: 0.5s;
                }
                i {
                    z-index: 2;
                }
            }
        }
    }
}
